.sidebar{
  background-color: #dedede;
  height: calc(100vh - 7.5rem);
  padding: 0.5rem;
  margin-right: .25rem;

  ul{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      height: 4rem;
      margin-bottom: .25rem;
      padding: 0 1rem;
      cursor: pointer;

      strong{
        &:hover{
          text-decoration: underline;
        }
      }

      &:hover .btn-remove{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
      }

      &:nth-last-child(1){
        margin-bottom: 0;
      }

      .btn-remove{
        cursor: pointer;
        display: none;
        border-radius: 50%;
        color: #fff;
        font-size: 1.5rem;
        border: none;
        width: 1.5rem;
        height: 1.5rem;
        transition: .5s all;

        &:hover{
          background-color: darkred;
        }
      }
    }
  }
}

.noteActive{
  text-decoration: underline;
}
